.container__menu__title {
  color: white;
}

.container__menu__title > h1 {
  display: flex;
  justify-content: center;
  font-size: 15rem;
  width: 100vw;
}

.container__menu__title > hr {
  margin-top: 1%;
  margin-bottom: 1%;
}
