.container__menu__title {
  color: white;
  border: 1px solid red;
}

.container__menu__title > h1 {
  display: flex;
  justify-content: center;
  font-size: 20rem;
}

.container__menu__title > hr {
  margin-top: 1%;
  margin-bottom: 1%;
}
