.container__small__card {
  height: 33%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container__small__card > img {
  height: 80%;
  width: auto;
}

.container__small__card > h1 {
  height: 50%;
  width: 60%;
  font-size: 2rem;
}
