/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  color: white;
}

.container__card {
  height: 90vh;
  width: 50vw;
  border: 1px solid red;
}

h1 {
  font-family: "segoe UI";
}
